# Transformacio Registre Log con Regex

### *Nivel 1*

In [116]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

 __*Importació archivo de las visitas a realitzades a la web de akumenius.com*__

In [117]:
pd.set_option('display.max_colwidth', None)
df=pd.read_csv('Web_access_log-akumenius.com.txt',names=["columna_origen"])

 __*Análisis de los datos*__

In [118]:
df.head(3)

                                                                                                                    columna_origen
0  localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-
1  localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-
2  localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-

In [119]:
formato=("[^\"]*")
columnas=df["columna_origen"].apply(lambda columna: re.findall(formato,columna))
columnas.head(3)

0    [localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] , , OPTIONS * HTTP/1.0, ,  200 - , , -, ,  , , Apache (internal dummy connection), ,  VLOG=-, ]
1    [localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] , , OPTIONS * HTTP/1.0, ,  200 - , , -, ,  , , Apache (internal dummy connection), ,  VLOG=-, ]
2    [localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] , , OPTIONS * HTTP/1.0, ,  200 - , , -, ,  , , Apache (internal dummy connection), ,  VLOG=-, ]
Name: columna_origen, dtype: object

 __*Creación columna WEB*__

In [120]:
#Separación através de los espacios en blanco
df["WEB"]=columnas.map(lambda columna: columna[0].split(' ')[0])
df.head(2)

,columna_origen,WEB
0,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost
1,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost

 __*Creación columna IP*__

In [121]:
# Definición del formato ip, que luego buscaresmos mediante re.rearch

formato_ip="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"
df["IP"]=columnas.map(lambda columna: re.search(formato_ip,columna[0]).group())
df.head(3)

,columna_origen,WEB,IP
0,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1
1,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1
2,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1

 __*Creación columna FECHA_HORA*__

In [122]:
# Definición del formato día y hora, que luego buscaresmos mediante re.rearch  

formato_fecha_hora="\d{1,2}/[a-zA-Z]{3}/\d{2,4}:\d{2}:\d{2}:\d{2}\s(\+|\-)\d{4}"
df["FECHA_HORA"]=columnas.map(lambda columna: re.search(formato_fecha_hora,columna[0]).group())
df.head(3)

,columna_origen,WEB,IP,FECHA_HORA
0,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100
1,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100
2,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100

 __*Creación columna PROTOCOLO*__

In [123]:
# Recoger la información de la tercera columna

df["PROTOCOLO"]=columnas.map(lambda columna: columna[2])
df.head(3)

,columna_origen,WEB,IP,FECHA_HORA,PROTOCOLO
0,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0
1,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0
2,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0

__*Creación columna NUMERO*__

In [124]:
# Recoger la información de la cuarta columna definida por "" 

df["NUMERO"]=columnas.map(lambda columna: columna[4] if len(columna)>=5 else "")
df.head(3)

,columna_origen,WEB,IP,FECHA_HORA,PROTOCOLO,NUMERO
0,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -
1,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -
2,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -

__*Creación columna NO_DEFINIDO*__

In [125]:
# Recoger la información de la sexta columna definida por los"" 

df["NO_DEFINIDO"]=columnas.map(lambda columna: columna[6] if len(columna)>=7 else "")
df.head(3)

,columna_origen,WEB,IP,FECHA_HORA,PROTOCOLO,NUMERO,NO_DEFINIDO
0,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-
1,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-
2,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-

__*Creación columna NAVEGADOR*__

In [126]:
# Recoger la información de la columna número 10 definida por los"" 

df["NAVEGADOR"]=columnas.map(lambda columna: columna[10] if len(columna)>=11 else "")
df.head(3)

,columna_origen,WEB,IP,FECHA_HORA,PROTOCOLO,NUMERO,NO_DEFINIDO,NAVEGADOR
0,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-,Apache (internal dummy connection)
1,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-,Apache (internal dummy connection)
2,"localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] ""OPTIONS * HTTP/1.0"" 200 - ""-"" ""Apache (internal dummy connection)"" VLOG=-",localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-,Apache (internal dummy connection)

__*Eliminación de la columna de origen*__

In [127]:
# Eliminemos la columna inicial tras haber generado todas las columnas

df=df.drop("columna_origen",axis=1)
df.head(3)

,WEB,IP,FECHA_HORA,PROTOCOLO,NUMERO,NO_DEFINIDO,NAVEGADOR
0,localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-,Apache (internal dummy connection)
1,localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-,Apache (internal dummy connection)
2,localhost,127.0.0.1,23/Feb/2014:03:10:31 +0100,OPTIONS * HTTP/1.0,200 -,-,Apache (internal dummy connection)

 __*Check de la columnas creadas*__

In [128]:
df.columns

Index(['WEB', 'IP', 'FECHA_HORA', 'PROTOCOLO', 'NUMERO', 'NO_DEFINIDO',
       'NAVEGADOR'],
      dtype='object')

In [129]:
df.dtypes

WEB            object
IP             object
FECHA_HORA     object
PROTOCOLO      object
NUMERO         object
NO_DEFINIDO    object
NAVEGADOR      object
dtype: object